.navigation {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  font-size: 2rem;
  line-height: 2.8rem;
  color: $color-4;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  &:before {
    content: "";
    position: absolute;
    height: 31rem;
    width: 31rem;
    border-radius: 50%;
    background: $color-3;
    top: -15rem;
    left: -16rem;
    z-index: -1;
    animation: navAnim 20s infinite alternate;

    @keyframes navAnim {
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @media screen and (max-width: 430px) {
      height: 5rem;
      width: 5rem;
    }
  }
  .nav-active {
    color: $black;
  }
  ul:hover li:not(:hover) {
    opacity: 0.5;
  }
  ul:hover li:hover {
    color: $color-2;
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    // padding-right: 6rem;
    transition: 0.5s;

    &:hover .nav-projects,
    .nav-projects:hover {
      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg);
      }
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0 4rem;
      width: 30rem;
      transform: translateX(8.5rem);
      transition: 0.3s;
      perspective: 50rem;
      z-index: 50;

      li {
        transform: rotatey(30deg) scaleX(1.2);
        transform-origin: center;
        transition: 0.3s;
      }
    }
  }
}
