.home {
  height: 100vh;
  width: 100vw;
  position: absolute;

  &:after {
    content: "";
    height: 90rem;
    width: 90rem;
    background: $color-3;
    border-radius: 50%;
    position: absolute;
    bottom: -48rem;
    right: 0px;
    z-index: -2;
    animation: homeAnim 15s infinite alternate;

    @media screen and (max-width: 650px) {
      height: 40rem;
      width: 40rem;
      bottom: -27rem;
    }

    @keyframes homeAnim {
      50% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1.1);
      }
    }
    @media screen and (max-width: 430px) {
      display: none;
    }
  }

  .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
    width: auto;
    height: 95%;
    overflow: hidden;

    .main-content {
      user-select: none;

      h1 {
        font-size: 4rem;
        position: relative;
        font-family: $font-2;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 0.6rem;

        &::first-letter {
          font-size: 12rem;
          @media screen and (max-width: 540px) {
            font-size: 6rem;
          }
        }

        @media screen and (max-width: 650px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 1.5rem;
          text-align: center;
        }
        @media screen and (min-width: 1200px) {
          font-size: 5rem;
        }

        &:before {
          content: "";
          position: absolute;
          height: 25rem;
          width: 25rem;
          border-radius: 50%;
          border: 1px $color-2 solid;
          top: -4rem;
          left: -11rem;
          z-index: -1;
          animation: h1Anim 1.5s forwards ease;
          transform: scale(0);

          @media screen and (max-width: 850px) {
            height: 11rem;
            width: 11rem;
            left: -2rem;
            top: -1.5rem;
          }

          @keyframes h1Anim {
            to {
              transform: scale(1);
            }
          }
        }
      }
      h2 {
        font-size: 2.2rem;
        font-weight: 100;

        @media screen and (max-width: 650px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 1.5rem;
          text-align: center;
        }
        @media screen and (min-width: 1200px) {
          font-size: 3rem;
        }
      }
    }
  }
}
