.skills {
  height: 100vh;
  width: 100vw;
  position: absolute;

  &:after {
    content: "";
    height: 90rem;
    width: 90rem;
    background: $color-3;
    border-radius: 50%;
    position: absolute;
    bottom: -8rem;
    right: -41rem;
    z-index: -2;
    animation: homeAnim 15s infinite alternate;

    @media screen and (max-width: 650px) {
      height: 40rem;
      width: 40rem;
      bottom: -27rem;
    }

    @keyframes homeAnim {
      50% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1.1);
      }
    }
    @media screen and (max-width: 430px) {
      display: none;
    }
  }

  .skills-main {
    margin: 16.5rem 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10rem 0;
    grid-template-areas: "skills_main-left" "skills_main-right";

    .skills_main-right {
      grid-area: skills_main-right;

      h1 {
        font-size: 3.7rem;
        position: relative;
        font-family: $font-2;
        color: $black;
        text-align: center;

        @media screen and (max-width: 650px) {
          font-size: 2.5rem;
        }
        @media screen and (min-width: 1200px) {
          font-size: 5rem;
        }

        &:before {
          content: "";
          position: absolute;
          height: 25rem;
          width: 25rem;
          border-radius: 50%;
          border: 1px $color-2 solid;
          top: -4rem;
          left: 61rem;
          z-index: -1;
          animation: h1Anim 1.5s forwards ease;
          transform: scale(0);

          @media screen and (max-width: 850px) {
            height: 10rem;
            width: 10rem;
            left: -4rem;
            top: -1.5rem;
          }

          @keyframes h1Anim {
            to {
              transform: scale(1);
            }
          }
        }
      }
      p {
        font-size: 2rem;
        color: $color-4;
        justify-content: justify;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        @media screen and (max-width: 540px) {
          font-size: 1.4rem;
        }
      }
    }

    .skills_main-left {
      grid-area: skills_main-left;

      h1 {
        font-size: 3.7rem;
        position: relative;
        font-family: $font-2;
        color: $black;
        text-align: center;

        @media screen and (max-width: 650px) {
          font-size: 2.5rem;
        }
        @media screen and (min-width: 1200px) {
          font-size: 5rem;
        }
      }
      .skills_main-left-tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .fab {
          font-size: 7rem;
          margin: 1rem;

          @media screen and (max-width: 540px) {
            font-size: 4rem;
          }
        }
        .fa-html5 {
          color: #e34c26;
        }
        .fa-css3-alt {
          color: #264de4;
        }
        .fa-js {
          color: #f0db4f;
        }
        .fa-bootstrap {
          color: #563d7c;
        }
        .fa-react {
          color: #61dbfb;
        }
        .fa-sass {
          color: #cc6699;
        }
        .fa-php {
          color: #474a8a;
        }
        .fa-symfony {
          color: black;
        }
        .fa-node {
          color: #3c873a;
        }
      }
      h2 {
        font-size: 4.2rem;
        font-weight: 100;

        @media screen and (max-width: 650px) {
          font-size: 2rem;
        }
        @media screen and (min-width: 1200px) {
          font-size: 5rem;
        }
      }
    }
    @media screen and (max-width: 650px) {
      // margin-top: 10rem;
      grid-template-columns: 1fr;
      gap: 0 0;
      grid-template-areas: "skills_main-left" "
      skills_main-right";
    }
    @media screen and (max-width: 540px) {
      margin: 11.5rem 1rem;
      gap: 1rem 0;
    }
  }
}
